#spacing {
    padding-top: 10pt;
}
#instructions {
    text-align:justify;
    padding: 10pt 20pt 20pt 20pt;
}

button {
    width: 120px;
    height: 50px;
    border-style: solid;
    padding: 2px;
    margin: 2px;
    color: darkcyan;
    cursor: pointer; 
  }

  body {
    background-color: #d3c5fa;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  }

  .gem {
      border-radius: 10%;
  } 
  .gem:hover {
    border-radius: 10%;
    cursor: pointer; 
}

